.container{
    padding: 0 2rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.map{
    background-color: black;
    flex: 1;
}

.start{
    background-color: white;
    flex: 1;
}